/* take the class cirlce and make a circle */
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* make the circle change color each 1 second */
.circle:hover {
  background-color: red;
}