/* take the class cirlce and make a circle with a text center*/

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.4); }
  to { transform: none; }
}

.circle { 
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    animation: latidos 2s infinite;
    transform-origin: center;
}

/* make the circle change color each 1 second */
.circle:hover {
  background-color: red;
}

a {
  text-decoration: none;
  color: white;
}