* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

.logo {
    width: 100px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-left {
    display: flex;
    flex-direction: row;
    width: 600px;
}

nav section ol {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav section ol li { 
    width: 150px;
    display: grid;
    place-items: center;
    color: white;
}    

nav section ol li a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
nav section ol li a:hover{
    color: black;
    text-decoration: none;
    list-style-type: none;
}

nav section ol li:hover { 
    background: yellow;
    color: black;
}

.principal-2 {
    display: grid;
    height: 500px;
    background-color: forestgreen;
}

.principal-2 > .textos {
    height: fit-content;
}

.principal-2 h1 {
    color: blanchedalmond;
}

.cards-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    height: 300px;
    width: 200px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    border: 3px solid black
}

.card:hover {
    background-color: gold;
    color: black;
}

.card h1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card figure {
    display: flex;
    justify-content: center;
}

.card figure img {
    width: 180px;
    height: 130px;
}

.card p {
    width: 100%;
    height: 100px;
    overflow: auto;
    display: flex;
    justify-self: center;
}


